#portfolio{
    margin: 30px auto;
    max-width: 35%;
}

section.titre-portfolio {
    display: flex;
    flex-direction: row;
    align-items:first baseline;
    width: auto;
    font-weight: bolder;

}


 .portfolio-section-photos h2 {
    color: #242424;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 1000px;
    font-size: 2.5em;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-items: flex-start;
  }

  .portfolio-section-photos {
    background-color: white;
    width: auto;
  }
  
  
.grid-images{
    background-color: white;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: 335px 335px 335px;*/
    margin-right: 20%;
    gap: 15px;
  }

.grid-portraits{
    grid-template-rows: 335px 335px;

  }

.grid-paysages{
    grid-template-rows: 335px 335px 335px;
  }


.grid-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;


}

/* --------------------------------------------------------------------------- */

/*
.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }

  
.lien-conteneur-photo {
    position: relative;
  }
  

.lien-conteneur-photo :hover .photo-hover{

    display: fixe;

} */